@import "base.css";

body {
    background: #151515;
}
a {
    color: var(--brand-text-color);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: .1s;
}
a:hover {
    opacity: .9;
}

.account-form {
    margin: 16px 0;
    padding: 0 18px;
}
